<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="James Vickery">
  <link rel="icon" href="favicon.ico">

  <title>CU Attendance Tracker</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Coventry University Attendance Tracker</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <!-- <a class="p-2 text-dark" href="#">Menu Item</a> -->
    </nav>
    <a class="btn btn-outline-primary" href="https://github.com/jamesevickery/cu-attendance-system" target="_blank">View on GitHub</a>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Hello, world!</h1>
      <p class="lead">Coventry University Attendance Tracker is an app that will help with attendance monitoring.</p>
      <hr class="my-4">
      <p>Students often forget their student cards, meaning they can't sign in to university lectures. Our proposed system provides
        an alternative method of signing in using their phone's sensors such as the camera for reading QR codes, the NFC
        reader and the phone's geolocation.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Get App</a>
      </p>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row" style="text-align:center;">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">View on
          <a href="https://github.com/jamesevickery/cu-attendance-system">GitHub</a>
        </small>
      </div>
    </div>
  </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>